app:
  title: Okikiola's IDP
  baseUrl: http://localhost:3000

organization:
  name: Ashiru DevOps

backend:
  baseUrl: http://localhost:7007
  listen:
    port: 7007
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true

  database:
    client: pg
    connection:
      host: 127.0.0.1
      port: 5432
      user: postgres
      password: backstage

integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}

techdocs:
  builder: 'local'
  generator:
    runIn: 'docker'
  publisher:
    type: 'local'

auth:
  providers:
    guest:
      dangerouslyAllowAllRequests: true

catalog:
  import:
    entityFilename: catalog-info.yaml
    pullRequestBranchName: backstage-integration
  rules:
    - allow: [Component, System, API, Resource, Location, Template, User, Group]
  locations:
    - type: file
      target: ./catalog-info.yaml

    - type: file
      target: ./aether-info.yaml

    - type: file
      target: ./templates/go-service/template.yaml
      rules:
        - allow: [Template]

    - type: file
      target: ../../examples/entities.yaml

permission:
  enabled: false
